// Variables
$font: 'Roboto Mono', sans-serif;
$back-color: #e9e6dd;
$primary-color: #601507;
$secondary-color: #731b0b;
$tertiary-color: #dcdcdc;
$footer-color: #1d2932;

// Styles

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font;
}

.App {
    width: 100vw;
    min-height: 100vh;
    background: $back-color;
    font-size: 13px;
}

#header {
    background: $primary-color;
    a {
        color: $back-color;
    }
}

#footer {
    background: $footer-color;
    color: $back-color;
}

a {
    text-decoration: none;
}

// Events

.eventHead {
    background: $primary-color;
    color: $back-color;
    text-align: left;
    ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        li {
            list-style: none;
        }
    }
}

.eventCard {
    color: $footer-color;
    ul {
        display: grid;
        grid-template-columns: 1fr 2fr 2fr;
        gap: 5px 5px;
        justify-content: left;
        padding: 3px;
        li {
            list-style: none;
            ul {
                display: flex;
                flex-direction: column;
            }
        }
    }
}

.eventCard:nth-child(odd) ul {
    background: $tertiary-color;
}

.gear {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 5px 5px;
    grid-template-areas:
        '. a b c .'
        '. d e f .'
        '. g h i .'
        '. . j . .';
    align-items: center;
    div {
        align-self: center;
        justify-self: center;
        height: 5rem;
        width: 5rem;
        background: $tertiary-color;
    }
    .item1 {
        grid-area: a;
    }
    .item2 {
        grid-area: b;
    }
    .item3 {
        grid-area: c;
    }
    .item4 {
        grid-area: d;
    }
    .item5 {
        grid-area: e;
    }
    .item6 {
        grid-area: f;
    }
    .item7 {
        grid-area: g;
    }
    .item8 {
        grid-area: h;
    }
    .item9 {
        grid-area: i;
    }
    .item10 {
        grid-area: j;
    }
}
